<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search: 
      <ng-container *ngIf="environment.loggedIn; else loggedOut">
        <span style="color: green; font-size: smaller;">logged in
        </span>
      </ng-container>
      <ng-template #loggedOut>
        <span style="color: red; font-size: smaller;">not logged in</span>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="container" class="no-borders">
      <ion-grid class="no-borders"> 
          <ion-row class="no-borders"></ion-row>
          <ion-row class="no-borders">
              <ion-col class="no-borders" size="10"  offset="1">
                  <form (ngSubmit)="submit()" [formGroup]="form">
                      <div class="form-item">
                          <p class="input-label">Search string:</p>
                          <div class="input-container">
                              <ion-input type="text" formControlName="searchString"></ion-input>
                          </div>
                      </div>
                      <ion-button
                          type="submit"
                          expand="block"
                      >Search</ion-button>
                  </form>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>

  <ng-container *ngIf="itemsExist">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Info</ion-col>
        <ion-col>Add to cart</ion-col>
      </ion-row>
      <ion-row *ngFor="let i of environment.filteredItemsAsKeyValue">
        <ion-col><b>Name: </b>{{i.name}}
        <br><b>Info: </b>{{i.description}}
        <br><img src="data:image/png;base64,{{i.picture}}"></ion-col>
        <ion-col><b>Price: </b>{{i.price}}
        <br>
        <br><ion-button (click)='addToCart(i.id)'>Add to cart</ion-button></ion-col>
        </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>
